.page {
    min-width: 1100px; /* мы ещё не умеем делать мобильную версию сайта, */
    /* поэтому выше установлена минимальная ширина страницы */
    max-width: 1600px; /* выше установили ограничение по максимальной ширине */
    margin: 0 auto; /* выше для экранов больше 1600px отцентрировали весь контент */
    font-family: "Helvetica Neue", Arial, sans-serif;
}
/* выше установили ограничения для секции */
/*Код отформатирован на сервисе https://webformatter.com/html */
.header {
    height: 100vh;
    min-height: 600px;
    max-height: 756px;
    display: flex;
    position: relative;
    align-items: center;
    background-color: #f2f2f2;
}

.logo_place_header {
    height: 32px;
    width: 183px;
    display: flex;
    position: absolute;
    top: 30px;
    left: 64px;
}
.header__title {
    align-self: center;
    margin: 0 64px;
    max-width: 730px;
    font-size: 102px;
    font-weight: bold;
    line-height: 96px;
    z-index: 2;
}
.header__subtitle {
    width: 388px;
    align-items: flex-end;
    position: absolute;
    left: 64px;
    bottom: 30px;
    font-size: 18px;
    font-weight: normal;
    line-height: 25px;
    z-index: 2;
    margin: 0;
}
.header__main-illustration {
    height: 608px;
    width: 765px;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;
}
/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__link {
    color: #2f80ed;
    text-decoration: none;
}
.header__square-pic {
    height: 568px;
    width: 568px;
    background-color: #2f80ed;
    position: absolute;
    top: 64px;
    right: 0;
    object-fit: cover;
    z-index: 0;
}
.description {
    display: flex;
    justify-content: center;
    align-items: center;
}
.two-columns {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 100px auto;
}

.two-columns__brief {
    width: 175px;
    font-size: 18px;
    font-weight: normal;
    line-height: 1.2;
    color: #2f80ed;
    margin-top: 0;
    margin-bottom: 0;
}
.two-columns__main-text {
    width: 80%;
    min-width: 784px;
    display: flex;
    flex-direction: column;
    margin: 0;
}
.two-columns__paragraph {
    font-size: 24px;
    font-weight: normal;
    line-height: 34px;
    margin: 0 0 30px;
}
.two-columns__span-accent {
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
}
.two-columns__paragraph:last-child {
    margin-bottom: 0;
}
/* и элемента с модификатором вида ключ-значение */
.digits {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 0 auto 100px auto;
}
.section-title {
    display: flex;
    width: 60%;
    margin: 0 auto 20px auto;
    align-items: center;
    justify-content: center;
    font-size: 60px;
    font-weight: bold;
    line-height: 1.15;
}
.section-subtitle {
    display: flex;
    width: 60%;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: normal;
    line-height: 34px;
}
.table {
    list-style-type: none;
    display: flex;
    width: 1100px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 0%;
    margin: 0;
}
.table__cell {
    width: 250px;
    margin: 60px 0 0 0;
}
.table__heading {
    line-height: 1.15;
    font-size: 24px;
    font-weight: bold;
    margin: 0 auto;
}
.table__text {
    line-height: 1.2;
    font-size: 18px;
    font-weight: normal;
    margin: 20px auto 0 auto;
}
.feynman {
    position: relative;
    min-height: 890px;
    background-image: url(../images/feynman.png);
    background-position: bottom left;
    background-repeat: no-repeat;
    background-color: #f2f2f2;
    padding-top: 100px;
}
.feynman__title {
    text-align: center;
    margin: 0 auto;
    width: 648px;
    line-height: 1.15;
    font-size: 120px;
    font-weight: bold;
}
.feynman__subtitle {
    text-align: center;
    margin: 70px 0 0 0;
    z-index: 1;
    line-height: 51px;
    font-size: 36px;
    font-weight: normal;
}
.feynman__link {
    position: absolute;
    top: 50%;
    right: 48px;
    line-height: 51px;
    font-size: 36px;
    color: #2f80ed;
    font-weight: normal;
    text-decoration: none;
}
.kaufman {
    background-color: #1f1f1f;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    z-index: 1;
    padding-top: 90px;
    padding-bottom: 90px;
}
.kaufman__triangle {
    position: absolute;
    background-image: url(../images/kaufman-triangle.svg);
    background-size: cover;
    width: 877px;
    height: 877px;
    top: 0;
    right: -210px;
    z-index: -1;
}
.section-title_theme_dark {
    color: #fff;
    text-align: center;
}
.section-subtitle_theme_dark {
    width: 60%;
    color: #fff;
    text-align: center;
}
.table_theme_dark {
    padding-left: 0;
    padding-top: 80px;
}
.table__cell_theme_dark {
    width: 200px;
    color: #fff;
    margin: 0 0 80px 0;
    z-index: 1;
}
.table__cell_theme_dark:nth-child(n+6) {
    margin-bottom: 0;
}
.footer {
    min-height: 350px;
    background-color: #1f1f1f;
    overflow: hidden;
    display: flex;
}
.footer__columns {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 60px auto 40px auto;
    width: 90%;
}
.footer__column_content_copyright {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-basis: 711px;
}
.logo_place_footer {
    height: 35px;
    width: 183px;
}
.footer__author {
    color: #fff;
    margin: 18px auto 18px 0;
    line-height: 25px;
    font-size: 18px;
    font-weight: normal;
}
.footer__column_content_info {
    display: inline-block;
    flex-direction: column;
    box-sizing: border-box;
}
.footer__column_content_social {
    display: inline-block;
    box-sizing: border-box;
}
.footer__column-heading {
    color: #fff;
    line-height: 30px;
    font-size: 18px;
    font-weight: bold;
    margin: 0;
    text-align: left;
}
.footer__column-links {
    list-style-type: none;
    color: rgb(255, 255, 255);
    text-align: left;
    margin: 20px 0 16px;
    padding: 0;
}
.footer__column-link {
    line-height: 30px;
    font-size: 18px;
    font-weight: normal;
    list-style-type: none;
    text-align: left;
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 0;
    margin: 0;
}
.footer__social-icon {
    list-style-type: none;
    width: 16px;
    height: 16px;
    margin-right: 10px;
    padding: 0;
}
